################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReverseText/obj
/ReverseText.Tests/obj
/ReverseText.Tests/bin/Debug/netcoreapp3.1
/ReverseText/bin/Debug/netcoreapp3.1
/.vs/ReverseText/v16
